{% extends 'index.html' %}

{% block content %}
    {% for item in portfolios %}
        <div class="portfolio_item">
            <div class="portfolio_name">{{ item.portfolio.name }}</div>
            <div class="description">
                <div class="description_item">
                    <div class="item_name">Дата создания</div>
                    <div class="item_value">{{ item.portfolio.creation_date }}</div>
                </div>
                <div class="description_item">
                    <div class="item_name">Активов</div>
                    <div class="item_value">{{ item.number_stocks }}</div>
                </div>
                <div class="description_item">
                    <div class="item_name">Доходность</div>
                    <div class="item_value">{{ item.R }}%</div>
                </div>
            </div>

{#            <table class="info">#}
{#                <tr>#}
{#                    <td>Тикер</td>#}
{#                    <td>Вес</td>#}
{#                    <td>Рост (с момента создания)</td>#}
{#                </tr>#}
{#                {% for key, weight, raise in item.info %}#}
{#                    <tr>#}
{#                        <td>{{ key }}</td>#}
{#                        <td>{{ weight }}</td>#}
{#                        <td>{{ raise }}</td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#            </table>#}
        </div>
    {% endfor %}
{% endblock %}