{% extends 'index.html' %}
{% load static %}
{% block header %}
    <link rel="stylesheet" href="{% static "css/portfolio_show.css" %}" type="text/css">
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(".portfolio_name").on("click", function () {
            var strClass = $(this).attr("class").toString();
            var ind = strClass.indexOf(' ') + 1;
            var obj = $(".more_info_" + strClass.substr(ind));
            if (obj.css("display").toString() === "none") {
                obj.css("display", "inline-block");
            } else {
                obj.css("display", "none");
            }
        })
    </script>
{% endblock %}

{% block content %}
    <form action="{% url 'home' %}" method="get" class="set_order">
        <select name="order">
            <option value="reversed" {% if order == True %} selected {% endif %}>По убыванию</option>
            <option value="not_reversed" {% if order == False %} selected {% endif %}>По возрастаю</option>
        </select>
        <select name="item">
            <option value="r" {% if item == 'r' %} selected {% endif %}>Доходности</option>
            <option value="name" {% if item == 'name' %} selected {% endif %}>Имя</option>
            <option value="number_stocks" {% if item == 'number_stocks' %} selected {% endif %}>Число активов</option>
        </select>
        <input type="submit" value="Упорядочить" class="button">
    </form>
    {% for item in portfolios %}
        <div class="portfolio_item">
            <div class="portfolio_name {{ item.portfolio.id }}">{{ item.portfolio.name }}</div>
            <div class="description">
                <div class="description_item">
                    <div class="item_name">Дата создания</div>
                    <div class="item_value">{{ item.portfolio.creation_date }}</div>
                </div>
                <div class="description_item">
                    <div class="item_name">Активов</div>
                    <div class="item_value">{{ item.number_stocks }}</div>
                </div>
                <div class="description_item">
                    <div class="item_name">Доходность</div>
                    {% if item.R < 0 %}
                        <div class="item_value" style="color:#BF472C">{{ item.R }}%</div>
                    {% else %}
                        <div class="item_value" style="color:#0B7F8C">{{ item.R }}%</div>
                    {% endif %}
                </div>
            </div>

            <div class="more_info more_info_{{ item.portfolio.id }}">
                <table class="info">
                    <tr>
                        <td>Тикер</td>
                        <td>Вес</td>
                        <td>Изменение</td>
                        <td>Вклад в портфель</td>
                    </tr>
                    {% for key, weight, raise, raise_in_portfolio in item.info %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ weight }}</td>
                            {% if raise < 0 %}
                                <td style="color:#BF472C">{{ raise }}%</td>
                            {% else %}
                                <td style="color:#0B7F8C">{{ raise }}%</td>
                            {% endif %}
                            {% if raise_in_portfolio < 0 %}
                                <td style="color:#BF472C">{{ raise_in_portfolio }}%</td>
                            {% else %}
                                <td style="color:#0B7F8C">{{ raise_in_portfolio }}%</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endfor %}
{% endblock %}