.compare_portfolios_form input[type=checkbox]{
    margin-right: 1%;
}

.compare_portfolios_form .button{
    padding: 1% 2%;
    display: inline-block;
    background: #F3B03F;
    text-align: center;
    color: white;
    border: 0;
    box-shadow: none;
    border-radius: 5px;
    margin-left: 0;
    margin-right: 2%;
    margin-top: 2%;
}
