body {
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

header {
    display: inline-block;
    width: 96%;
    height: 5%;
    padding: 1% 2%;
    background: #028fcc;
}

header #logo {
    display: table-cell;
    text-transform: lowercase;
    font-size: 2em;
    color: #f4f4f4;
    margin-right: 10%;
    vertical-align: middle;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header .searching {
    display: table-cell;
    vertical-align: middle;
}

header .searching input {
    display: inline-block;
    width: 100%;
    padding: 3% 6%;
    border: 0;
    float: right;
    /*box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.5);*/
    border: 1px solid #BCDBF1;
    border-radius: 5px;
}

header menu {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 75%;
    margin-left: 10%;
}

header menu li {
    display: inline-block;
    margin-right: 5%;
}

header menu li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.main_block {
    padding: 5% 5%;
    width: 90%;
    height: 81%;
}

header .searching form {
    display: table-cell;
    vertical-align: middle;
}