.portfolio_item {
    box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.75);
    width: 96%;
    background: #F3B03F;
    padding: 1% 2%;
    margin-bottom: 2%;
}

.portfolio_item .info{
    border-collapse: collapse;
    width: 40%;
}

.portfolio_item .info td{
    border: 1px solid black;
    padding: 1% 2%;
}